<div class="container">
  <div class="row-md-8 top-introduction">
    <div class="col-md-8 offset-md-4">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない⽅も商品の閲覧はできますが、<br>
      購⼊には会員登録が必要になります。
    </div>
  </div>
  <div class="row">
    <h3 class="item-heading">新着商品</h3>
  </div>
  <div class="row">
    <div class="col"></div>
      <% @items.each do |item| %>
        <div id="new-item-box">
          <div class="item-image"><%= attachment_image_tag item, :item_image, :fill, 60, 60, fallback: "no_image.jpg"%></div>
          <div class="item-name"><%= item.name %></div>
          <div class="item-price"><%= item.price %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>