<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2 class="item-headline">
        <strong>商品一覧</strong><span class="small">（全<%= @items.count %>件）</span>
      </h2>
      <div class="clearfix item-box">
        <% @items.each do |item| %>
          <%= render "item", item: item %>
        <% end %>
      </div>
    </div>
  </div>
</div>
