// Place all the styles related to the cart-items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.empty-cart {
  float: right;
  margin-top: 30px;
}
.keep-shopping {
  margin-left: 20px;
}
.total-box {
  float: right;
}
.total_label {
  width: 90px;
}
.total_amount {
  width: 150px;
}
