// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-introduction {
  background-image: url("adtDSC_3698.jpg");
  background-size: cover;
  background-position: center;
  height: 150px;
  margin-top: 100px;
  margin-bottom: 25px;
}
.about-heading {
  margin-top: 50px;
}
.about-img {
  background-image: url("cakes-1283821_1920.jpg");
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 300px;
  margin-top: 100px;
  margin-bottom: 25px;
}
.top_item_box {
  display: flex;
}
.item_box {
  margin: 50px 30px;
}
.top_text {
  text-shadow: 1px 2px 3px #808080;
}